//Var color
$darkestBrown: #271004;
$midDarkBrown:#2F1305;
$lightBrown:#683309;
$backgroundCream:#FFFAF0;
$whiteBone:#F4F4F4;
$darkGray:#313131;

//Var Fonts
$montserrat:'Montserrat', sans-serif;
$openSans: 'Open Sans', sans-serif;

//Var Pixels Fonts
$header1:28px;
$header2:24px;
$header3:20px;
$links:16px;
$paragraphs:16px;

