.recipes-breakfasts h1 {
  padding-left: 24px;
}
.recipes-breakfasts__card-breakfast {
  margin: 0 auto;
  width: 90%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: $whiteBone;
  border-radius: 5px;
  margin-bottom: 36px;

  img {
    border-radius: 5px 5px 0 0;
    margin-bottom: 28px;
  }

  h3 {
    padding-left: 12px;
    margin-bottom: 34px;
  }

  a {
    float: right;
    color: $darkestBrown;
    font-weight: bolder;
    font-family: $montserrat;
    margin-top: 15px;
    margin-bottom: 14px;
    padding-right: 18px;
  }
}

.difficulty {
  width: 50%;
  float: left;
  padding-left: 20px;

  img {
    float: left;
    margin: 0;
    margin-right: 6px;
    margin-top: -4px;
  }

  p {
    float: left;
    margin: 0;
  }
}
.time-duration {
  width: 50%;
  float: right;
  padding-left: 70px;

  img {
    float: left;
    margin: 0;
    margin-top: -8px;
    margin-left: 10px;
  }

  p {
    float: left;
    margin: 0;
  }
}
