.ads-1 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.banner {
  margin-bottom: 34px;
}

.cooking-tips h1 {
  margin-bottom: 26px;
}

.cooking-tips-1  {
  margin-bottom: 60px;

  img {
    margin-bottom: 12px;
  }
  h3 {
    margin-bottom: 16px;
  }

  p{
    line-height: 2rem;
    margin-bottom: 16px;
  }
}
.cooking-tips-2  {
  margin-bottom: 60px;

  img {
    margin-bottom: 12px;
  }
  h3 {
    margin-bottom: 16px;
  }

  p{
    line-height: 2rem;
    margin-bottom: 16px;
  }
}

.ads-2 {
  margin-bottom: 38px;
}

